body {
	font-family: tahoma;
	background-color: #FFFF80;
}

#banner {
	background-color: #2020A0;
	height: 150px;
	color: white;
}

#navigation {
	background-color: #20A0A0;
	width: 200px;
	float: left;
}

#main {
	float: left;
}